<br/>
<h1>Home#index</h1>
<h2>DomotiX est enfin sur Heroku !</h2>
<p><%= link_to 'Users', users_path %></p>
<p><%= link_to 'Devices', devices_path %></p>
<p><%= link_to 'Connections', connections_path %></p>
